<div class="social-media">
  <div class="centered">
    <button class="btn btn-primary" routerLink="/quote-machine">Quote Machine</button>
    <h1 class="retroshadow">Social Media</h1>

      <a class="btn btn-default btn-social btn-lg btn-linkedin" href="https://pt.linkedin.com/in/david-pascoal-43817148">
        <i class="fa fa-linkedin"></i>
        <span>LinkedIN</span>
      </a>
      <a class="btn btn-default btn-lg btn-social btn-git" href="https://github.com/Elitro">
        <i class="fa fa-github"></i>
        <span>GitHub</span>
      </a>
      <a class="btn btn-default btn-lg btn-social btn-fcc" href="http://www.freecodecamp.com/elitro">
        <i class="fa fa-fire">
          <!--<img src="https://i.vimeocdn.com/portrait/8872087_30x30.jpg" style="width:20px;height:17px;"></img>-->
        </i>
        <span>FreeCodeCamp</span>
      </a>


  </div>
</div>
<div class="bio"></div>